<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pingpp_api_base" value="https://api.pingplusplus.com/v1/"/>
    <add key="pingpp_key" value="sk_test_bPKCOCjPaXvLiv9OW58OKOO0"/>
    <add key="pingpp_appid" value="app_nL4SGSLuT8KS1eff"/>
  </appSettings>
</configuration>